<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">ng2 firebase simple website</li>
      </ul>
    </div>
    <div class="top-bar-right">
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="large-6 columns">
    <button
      class="button"
      (click)="changeState('add')"
    >Add Business</button>
  </div>
  <div class="large-6 columns">
    <label>
      Filter Category
      <select (change)="filterCategory(filteredCategory.value)" #filteredCategory>
        <option value="0">Select</option>
        <option
          *ngFor="let category of categories"
          value="{{category.name}}"
        >
          {{category.name}}
        </option>
      </select>
    </label>
  </div>
</div>

<div
  class="row"
  *ngIf="appState == 'add'"
>
  <div class="large-12 columns">
    <h3>Add entry</h3>
    <form (submit)="addBusiness(
      company.value,
      category.value,
      city.value,
      email.value)"
    >
      <div class="row">
        <div class="large-6 columns">
          <label>
            Company
            <input type="text" placeholder="Company Name" #company />
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            Category
            <select #category>
              <option value="0">Select</option>
              <option
                *ngFor="let category of categories"
                value="{{category.name}}"
              >
                {{category.name}}
              </option>
            </select>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>
            City
            <input type="text" placeholder="enter city" #city />
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            Email
            <input type="text" placeholder="enter email" #email />
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <button
            class="button alert"
            (click)="changeState('default')"
          >
            Go Back
          </button>
        </div>
        <div class="large-6 columns">
          <button
            class="button alert"
            type="submit"
          >
            Save
          </button>
        </div>
      </div>
    </form>

  </div>
</div>

<div
  class="row"
  *ngIf="appState == 'extend'"
>
  <div class="large-12 columns">
    <button
      class="button alert"
      (click)="changeState('default')"
    >
      Go Back
    </button>
  </div>


  <div *ngFor="let business of businesses">
    <div
      *ngIf="business.$key == activeKey"
      class="row"
    >
      <div class="large-5 columns large-offset-1">
        <h3>{{business.company}}</h3>
        <p>{{business.category}}</p>
        <p>{{business.city}}</p>
      </div>
      <div class="large-5 columns large-offset-1">
        <h4>Contact Info</h4>
        <ul>
          <li>Email: {{business.email}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div *ngIf="businesses">
      <table>
        <thead>
          <tr>
            <th>Company</th>
            <th>Category</th>
            <th>City</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let business of businesses">
            <td>{{business.company}}</td>
            <td>{{business.category}}</td>
            <td>{{business.city}}</td>
            <td>
              <button
                class="button"
                (click)="changeState('extend', business.$key)"
              >
                More
              </button>
              <button class="button secondary">Edit</button>
              <button class="button alert">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
